# Compiled Object files,  Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.db
*.orig
test.db
test.db-journal
test.json
test.yaml
_workspace
cover/*
profile.cov
coverage.json
extension/gohanscript/lib/test_tmp.yaml
examples/go_extension/gohan.log

docs/build/*
build/*
db/json.json
etc/examples/esi_vagrant.yaml

node_modules

.idea
etc/gohan.log
etc/gohan.db
