version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.11.4
    working_directory: /go/src/github.com/cloudwan/gohan
    environment:
        GO111MODULE: 'on'
    steps:
      - checkout
      - run: go version
      - run: make deps gen lint build
  test:
    docker:
      - image: circleci/golang:1.11.4
      - image: circleci/mariadb
    working_directory: /go/src/github.com/cloudwan/gohan
    environment:
        GO111MODULE: 'on'
        MYSQL_TEST: true
    steps:
      - checkout
      - run: curl -L https://github.com/coreos/etcd/releases/download/v3.1.7/etcd-v3.1.7-linux-amd64.tar.gz -o etcd-v3.1.7-linux-amd64.tar.gz
      - run: tar xzvf etcd-v3.1.7-linux-amd64.tar.gz
      - run: sudo install etcd-v3.1.7-linux-amd64/etcd /usr/bin
      - run: sudo apt-get install mysql-client
      - run: go get github.com/mattn/goveralls
      - run: make test

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - test
