version: 2

jobs:
  build:
    docker:
      - image: cimg/go:1.18
    working_directory: /go/src/github.com/cloudwan/gohan
    environment:
        GO111MODULE: 'on'
    steps:
      - checkout
      - run: go version
      - run: make deps gen lint build
  test:
    docker:
      - image: cimg/go:1.18
      - image: circleci/mariadb:10.2.24-ram
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_USER: gohan
          MYSQL_DATABASE: gohan_test
        command:
          mysqld --sql-mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO
    working_directory: /go/src/github.com/cloudwan/gohan
    environment:
        GO111MODULE: 'on'
        MYSQL_TEST: true
    steps:
      - checkout
      - run:
          name: Wait for DB
          # preinstalled in circleci/* docker image
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s
      - run: echo $MYSQL_TEST
      - run: curl -L https://github.com/coreos/etcd/releases/download/v3.1.7/etcd-v3.1.7-linux-amd64.tar.gz -o etcd-v3.1.7-linux-amd64.tar.gz
      - run: tar xzvf etcd-v3.1.7-linux-amd64.tar.gz
      - run: sudo install etcd-v3.1.7-linux-amd64/etcd /usr/bin
      - run: go get github.com/mattn/goveralls
      - run: make test
      - store_artifacts:
          path: profile.cov

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - test
