database:
    type: "mysql"
    connection: "root@tcp(localhost:3306)/gohan_test"
    drop_on_create: true
    deadlock_retry_tx:
      count: 3
      interval_msec: 100
schemas:
    - "../etc/schema/gohan.json"
    - "../tests/test_abstract_schema.yaml"
    - "../tests/test_schema.yaml"
    - "../tests/test_schema_sync.yaml"
    - "../tests/test_two_same_relations_schema.yaml"
address: ":19090"
document_root: "embed"
sync: etcdv3
etcd:
    - "http://127.0.0.1:2379"
keystone:
    use_keystone: true
    fake: true
    auth_url: "http://localhost:19090/v2.0"
    user_name: "admin"
    tenant_name: "admin"
    password: "gohan"
cors: "*"
# allowed levels  "CRITICAL", "ERROR", "WARNING", "NOTICE", "INFO", "DEBUG",
logging:
    stderr:
        enabled: true
        level: CRITICAL
    file:
        enabled: true
        level: CRITICAL
        filename: ./gohan.log

watch:
  keys:
  - /watch/key/1
  - /watch/key/2
  - /watch/key/3
  - /watch/key/4
  - /watch/key/5
  - /watch/key/6
  events:
  - watch/key

version:
    app: 1.2.3
