database:
    type: "sqlite3"
    connection: "server_test.db"
    deadlock_retry_tx:
      count: 3
      interval_msec: 100
schemas:
    - "embed://etc/schema/gohan.json"
    - "../tests/test_abstract_schema.yaml"
    - "../tests/test_schema.yaml"
    - "../tests/test_schema_sync.yaml"
    - "../tests/test_two_same_relations_schema.yaml"
    - "../tests/test_sync_watch_extension.yaml"
    - "../tests/test_blacklisted_tenant_id_schema.yaml"
address: ":19090"
document_root: "embed"
sync: etcdv3
etcd:
    - "http://127.0.0.1:2379"
keystone:
    use_keystone: true
    fake: true
    auth_url: "http://localhost:19090/v2.0"
    user_name: "admin"
    tenant_name: "admin"
    password: "gohan"
cors: "*"

profiling:
  enabled: true

logging:
  stderr:
    enabled: false
    level: ERROR

watch:
  keys:
  - /watch/key/1
  - /watch/key/2
  - /watch/key/3
  - /watch/key/4
  - /watch/key/5
  - /watch/key/6
  events:
  - watch/key
  worker_count: 4

version:
  app: 1.2.3
