{
    "authUrl": "http://__HOST__:9091/v2.0",
    "gohan": {
        "schema": "/gohan/v0.1/schemas",
        "url": "http://__HOST__:9091"
    },
    "routes": [
        {
            "path": "#/",
            "viewClass": "sampleview",
            "name": "sample"
        }
    ]
}
