{% autoescape off %}{
    "swagger": "2.0",
    "info": {
        "version": "0.1",
        "title": "gohan API"
    },
    "basePath": "/",
    "schemes": [
      "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": { {% for schema in schemas %}{% if schema.Metadata.type != "metaschema" && schema.Type != "abstract" %}
        "{{ schema.GetPluralURL() }}": {
            "get": {
                "description" : "Get list of {{ schema.ID}} resources",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{{ schema.description }}",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/{{ schema.ID }}"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "post": {
                "description" : "Create new {{ schema.ID }} resource",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                {
                    "name": "{{ schema.ID }}",
                    "in": "body",
                    "description": "{{ schema.ID }} reosurce input",
                    "required": true,
                    "schema": {
                    "$ref": "#/definitions/{{ schema.ID }}Input"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "{{ schema.ID }} created",
                        "schema": {
                            "$ref": "#/definitions/{{ schema.ID }}"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "{{ schema.URL }}/{id}": {
            "get": {
                "description" : "Show a {{ schema.ID}} resources",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ID of {{ schema.ID }} to fetch",
                    "required": true,
                    "type": "string"
                }
                ],
                "responses": {
                    "200": {
                        "description": "{{ schema.description }}",
                        "schema": {
                            "$ref": "#/definitions/{{ schema.ID }}"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "put": {
                "description" : "Update {{ schema.ID }} resource",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ID of {{ schema.ID }} to update",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "{{ schema.ID }}",
                    "in": "body",
                    "description": "{{ schema.ID }} reosurce input",
                    "required": true,
                    "schema": {
                    "$ref": "#/definitions/{{ schema.ID }}Update"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "{{ schema.ID }} created",
                        "schema": {
                            "$ref": "#/definitions/{{ schema.ID }}"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description" : "Delete a {{ schema.ID }} resources",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ID of {{ schema.ID }} to fetch",
                    "required": true,
                    "type": "string"
                }
                ],
                "responses": {
                    "204": {
                        "description": "{{ schema.ID }} get deleted",
                        "schema": {
                            "$ref": "#/definitions/{{ schema.ID }}"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        }{% for action in schema.Actions %},
        "{{ schema.GetPluralURL() }}{{ action.Path | swagger_path }}": {
            "{{ action.Method|lower }}" : {
                "description": "Action {{ action.ID}}",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ID of {{ schema.ID }} to fetch",
                    "required": true,
                    "type": "string"
                }{% if action.Method | lower == "post" or action.Method | lower == "put"  %},
                {
                    "name": "{{ action.ID }} request object",
                    "in": "body",
                    "description": "{{ action.ID }} request object",
                    "required": true,
                    "schema":
                    {{ action.InputSchema | swagger: "                    "}}
                }{% endif %}
                ],
                "responses": {
                    "200": {
                        "description": "action {{ schema.ID }} response",
                        "schema":
                        {{ action.OutputSchema | swagger: "                        "}}
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                        "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        }{% endfor %}{% if not forloop.Last %},{% endif %}
{% endif %}{% endfor %}
    },
    "definitions": { {% for schema in schemas %}{% if schema.Metadata.type != "metaschema" %}
        "{{ schema.ID }}" :
        {{ schema.JSONSchema | swagger: "        " }},
        "{{ schema.ID }}Input" :
        {{ schema.JSONSchemaOnCreate |  swagger: "        " }},
        "{{ schema.ID }}Update" :
        {{ schema.JSONSchemaOnUpdate | swagger : "        "}},{% endif %}{% endfor %}
        "errorModel": {
            "type": "object",
            "properties": {
                "error": {
                    "description": "error message",
                    "title": "error",
                    "type": "string"
                }
            }
        }
    }
}
{% endautoescape %}